// Comment Page Sass
.comments-page
    .side
        .linkinfo
            background-color: #ebf3ef
            border: 1px solid #BCD8CA
            border-radius: 0
    .commentarea
        .usertext-edit textarea
            background: $img5 no-repeat
        > div.sitetable
            &::before
                content: $commentwarn
                display: block
                margin: 5px 8em 10px 10px
                background: url(%%snoo%%) no-repeat 0px 0px #f0f7f2
                background-position: 5px 50%
                padding: 8px
                font-size: 12px
                font-family: Helvetica,Arial,sans-serif
                text-align: justify
                line-height: 175%
                color: black
                border: 1px solid #1f7d39
                border-radius: 0px
                max-width: 500px
                min-height: 60px
                padding-left: 72px
                padding-right: 13px
