// Content
.content
    margin: 15px 330px 0 15px
    #siteTable
        .thing
            border-bottom: 1px solid $grey2
            padding-bottom: 0.5em
            &.link
                &:not(.stickied)
                    .arrow
                        background-image: $img3
                        background-repeat: no-repeat
                        width: 15px
                        height: 15px
                        &.up
                            background-position: 0 -1px
                        &.upmod
                            background-position: -16px -1px
                        &.down
                            background-position: 0 -18px
                        &.downmod
                            background-position: -16px -18px
                .thumbnail
                    &.default, &.self, &.nsfw
                        background-image: $img1
                .usertext-body
                    .md
                        background-color: #fafafa
                        border: 1px solid $green
                        border-radius: 0
                .entry
                    .title
                        font-family: $font
                        font-weight: normal
                        font-size: 17px
                        line-height: 22px
                        color: $dark !important
                    .flat-list.buttons
                        a.action-thing
                            border: 1px solid $green
                            text-decoration: none
                            color: $green
                            +transition(all 0.25s ease)
                            opacity: 1 !important
                            &:hover
                                color: $white
                                &::before
                                    margin-left: 44px
                                    visibility: visible
                                    opacity: 1
                                &::after
                                    margin-left: 15px
                                    visibility: visible
                                    opacity: 1
                            &::before
                                content: ""
                                border-top: 8px solid transparent
                                border-bottom: 8px solid transparent
                                border-right: 8px solid $green
                                position: absolute
                                margin: 1px 0 0 38px
                                margin-left: -2px
                                width: 0
                                height: 0
                                visibility: hidden
                                opacity: 0
                                z-index: 1
                            &::after
                                content: "Please report all posts and comments that break the rules!"
                                background: $green
                                position: absolute
                                margin: -5px 0 0 9px
                                margin-left: -31px
                                padding: 5px 10px
                                visibility: hidden
                                opacity: 0
                                color: $green
                                +transition(all 0.25s ease)
                    // Modifies report reasons for mods
                    ul.report-reasons
                        background-color: #ebf3ef
                        border: thin solid $green2
                        li
                            &.report-reason
                                &::after
                                    display: inline-block
                                    position: relative
                                    top: 9px
                                    height: 16px
                                    font-size: 10px
                                &[title="spam"], &[title="vote manipulation"], &[title="personal information"], &[title="sexualizing minors"], &[title="breaking reddit"]
                                    font-size: 0
                    // Modifies report reasons for users (on the report form)
                    .report-action-form
                        background-color: #EBF3EF
                        border: thin solid $green2
                        span.reason-prompt
                            &::after
                                content: "Reports without a reason will be ignored!"
                                font-weight: bold
                        li // REport Reasons
                            &:not(:last-child) label
                                font-size: 0
                            label
                                &::after
                                    font-size: 12px
                        @at-root .content .thing.link .entry .report-
                            @each $child, $title, $reason in (1, spam, $lreport1), (2, vote manipulation, $lreport2), (3, personal information, $lreport3), (4, sexualizing minors, $lreport4), (5, breaking reddit, $lreport5)
                                &action-form li:nth-child(#{$child}), &reasons li .report-reason[title="#{$title}"]
                                    &::after
                                        content: "#{$reason}"
                        @at-root .content .thing.comment .entry .report-
                            @each $child, $title, $reason in (1, spam, $creport1), (2, vote manipulation, $creport2), (3, personal information, $creport3), (4, sexualizing minors, $creport4), (5, breaking reddit, $creport5)
                                &action-form li:nth-child(#{$child}), &-reasons li .report-reason[title="#{$title}"]
                                    &::after
                                        content: "#{$reason}"
                            &:nth-child(6)
                                &::after
                                    content: "#{$creport6}"
            //Stickied Links
            &.stickied
                background: rgba(0,107,58,0.08)
                border: 5px solid rgba(0,107,58,0.2) !important
                padding: 0.5em
                .arrow
                    &.down, &.downmod
                        display: none
                .thumbnail
                    display: none
                .listing-page &
                    .midcol
                        background: #CCE1D7
                        border: 1px solid rgba(255,255,255,0.25)
                        border-radius: 3px
                        padding: 8px 0
                        margin-top: 3px
                        margin-left: 0
                        margin-right: 11px
                        top: 0
                a.title, a.title:visited, a.title.visited
                    font-weight: bold !important
                    color: $dark
