// Footer
.footer-parent
    background: #242424
    color: #6f6f6f
    .bottommenu
        color: #6f6f6f
    .footer
        border: none
        font-family: $font
        a
            color: #6f6f6f
        .col
            border: none
            .flat-vert
                &.title
                    font-family: $font
                    font-size: 15px
                    font-weight: normal
                    text-transform: uppercase
                    color: #008D52
.debuginfo
    background: #242424
    color: #6f6f6f
    &::before
        content: "Theme by /u/Soul_Shot"
        line-height: 14px
        float: left
