// Body & General Formatting
html
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
*, *:before, *:after
    -webkit-box-sizing: inherit
    -moz-box-sizing: inherit
    box-sizing: inherit

// ModTools Toolbar Recolour (Not nested because I'm lazy)
.mod-toolbox #tb-bottombar, .mod-toolbox #tb-bottombar::before, .mod-toolbox #tb-bottombar::after, div.sticky
    -webkit-box-sizing: content-box
    -moz-box-sizing: content-box
    -o-box-sizing: content-box
    box-sizing: content-box
.mod-toolbox #tb-bottombar, .mod-toolbox #tb-bottombar-hidden, .mod-toolbox #tb-tooltip, .tb-popup-header, .mod-toolbox .subreddits-you-mod-popup .tb-popup-footer, .mod-toolbox .tb-popup .tb-popup-header .buttons
    background: #006B3A!important
    opacity: 0.9
    color: #fff
    border-top: 1px solid #004A28!important
.mod-toolbox #tb-bottombar a, .mod-toolbox .tb-popup .tb-popup-header .buttons a
     color: #fff
.mod-toolbox #tb-toolbar-mysubs:hover, .mod-toolbox #tb-personal-notes-button:hover, .mod-toolbox #tb-toolbar-mysubs
    border: none
    background: #006B3A!important
    opacity: 0.9
div.sticky
    background: rgb(235, 243, 239)
    border: 1px solid #BCD8CA

body
    a
        +transition(color 0.25s ease, opacity 0.25s ease)
        color: $green
        text-decoration: none
        &:hover, &:focus
            text-decoration: none
            opacity: 0.8
        &:active, &:visited
            color: $green5
    p
        font-family: $font
    .md
        font-family: $font
        a
            color: $green
    .roundfield, .linefield
        background-color: $grey
        border-radius: 0
        border-top: 5px solid $green
        textarea, input[type=text], input[type=url], input[type=password], input[type=number]
            width: 480px
    .linefield .titlebox
        color: $green
    .create-reddit
        width: 225px
        margin: 0 auto
    .expando-button
        background-image: $img1 !important
        background-repeat: no-repeat
        &.selftext
            background-position: -59px -584px
            .expanded
                &:hover
                    background-position: -31px -584px
            .collapsed
                background-position: -2px -584px
                &:hover
                    background-position: -94px -547px
        &.image
            background-image: $img !important
        &.video
            &-muted
                @extend .image
            .expanded
                background-position: -59px -613px
                &:hover
                    background-position: -30px -613px
            .collapsed
                background-position: -1px -613px
                &:hover
                    background-position: -88px -584px
    .nextprev, .next-suggestions
        a
            border-radius: none
            color: $green
    // Various RES fixes
    .res &
        .RESThrobber
            display: none
        .NERPageMarker
            background-color: #f5f7f7 !important
            border: none !important
            border-radius: 0 !important
            color: $dark !important
        #NERFail, #progressIndicator
            @extend .NERPageMarker
            padding: 15px
            width: 100%
    //EnTypo Formatting (Because I'm too lazy to make formatting myself)
    #siteTable .thing, .wiki-page-content
        .md
            padding: 0px 10px 10px 10px
            h1, h2, h3, p, blockquote, ul, ol, hr, pre, table
                font-family: $font
                margin: 20px 10px 10px 10px
            h1
                text-align: center
                font-size: 34px
                color: #fff
                text-shadow: 1px 1px 0 #000000
                font-weight: normal
            h2
                font-size: 24px
                font-weight: normal
                color: #c6d4df
            h3
                font-size: 18px
                font-weight: normal
                color: #fff
            h4
                color: #67c1f5
                font-size: 18px
                font-weight: normal
            h5
                margin: -5px 10px 10px 10px
                color: #666666
                font-family: Arial, Helvetica, sans-serif
                font-weight: normal
                font-style: italic
                font-size: 14px
            h6
                margin: 40px 80px
                color: #666666
                font-family: Arial, Helvetica, sans-serif
                font-weight: normal
                text-align: center
                font-style: italic
                font-size: 14px
            p
                line-height: 20px
                font-size: 14px
            ul
                list-style: none
            ol
                list-style-position: inside
            ul, ol
                border-right: solid 1px #eaeaea
                border-left: solid 1px #eaeaea
                border-top: solid 1px #eaeaea
                line-height: 20px
                font-size: 14px
                padding: 0
                li
                    border-bottom: solid 1px #eaeaea
                    background-color: #f8f8f8
                    padding: 5px
                &:nth-child(odd)
                    background-color: #f2f2f2
            blockquote
                padding: 1px 10px 10px 10px
                border-left: solid 5px #aaaaaa
                background-color: #f2f2f2
                line-height: 20px
                font-size: 14px
                color: #2f2f2f
                &:hover
                    background: rgb(230, 230, 230)
            hr
                margin: 40px 80px
                background-color: #cccccc
                border: none
                height: 1px
            code
                background-color: #f2f2f2
                display: inline-block
                padding: 2px 4px
            table
                thead
                    tr
                        th
                            background-color: $grey4
                            font-weight: normal
                            padding: 10px 20px
                            font-size: 14px
                            border: none
                tbody
                    background: $grey4
                    tr
                        border-bottom: solid 1px #eaeaea
                        &:hover
                            background-color: rgb(230,230,230)
                        td
                            padding: 10px 20px
                            border: none
            pre
                padding: 18px 10px 18px 52px
                background-color: $grey
                position: relative
                line-height: 18px
                font-size: 12px
                display: block
                width: auto
                &:hover
                    background: rgb(230, 230, 230)
                &::before
                    content: "#  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99  100  101  102  103  104  105  106  107  108  109  110  111  112  113  114  115  116  117  118  119  120  121  122  123  124  125  126  127  128  129  130  131  132  133  134  135  136  137  138  139  140  141  142  143  144  145  146  147  148  149  150  151  152  153  154  155  156  157  158  159  160  161  162  163  164  165  166  167  168  169  170  171  172  173  174  175  176  177  178  179  180  181  182  183  184  185  186  187  188  189  190  191  192  193  194  195  196  197  198  199  200  201  202  203  204  205  206  207  208  209  210  211  212  213  214  215  216  217  218  219  220  221  222  223  224  225  226  227  228  229  230  231  232  233  234  235  236  237  238  239  240  241  242  243  244  245  246  247  248  249  250  251  252  253  254  255  256  257  258  259  260  261  262  263  264  265  266  267  268  269  270  271  272  273  274  275  276  277  278  279  280  281  282  283  284  285  286  287  288  289  290  291  292  293  294  295  296  297  298  299  300  301  302  303  304  305  306  307  308  309  310  311  312  313  314  315  316  317  318  319  320  321  322  323  324  325  326  327  328  329  330  331  332  333  334  335  336  337  338  339  340  341  342  343  344  345  346  347  348  349  350  351  352  353  354  355  356  357  358  359  360  361  362  363  364  365  366  367  368  369  370  371  372  373  374  375  376  377  378  379  380  381  382  383  384  385  386  387  388  389  390  391  392  393  394  395  396  397  398  399  400  401  402  403  404  405  406  407  408  409  410  411  412  413  414  415  416  417  418  419  420  421  422  423  424  425  426  427  428  429  430  431  432  433  434  435  436  437  438  439  440  441  442  443  444  445  446  447  448  449  450  451  452  453  454  455  456  457  458  459  460  461  462  463  464  465  466  467  468  469  470  471  472  473  474  475  476  477  478  479  480  481  482  483  484  485  486  487  488  489  490  491  492  493  494  495  496  497  498  499  500 "
                    border-right: solid 2px #aaa
                    background-color: $grey4
                    padding: 0px 10px 0px 5px
                    white-space: pre-wrap
                    position: absolute
                    line-height: 18px
                    text-align: right
                    overflow: hidden
                    font-size: 12px
                    height: 100%
                    width: 18px
                    left: 0px
                    top: 0px
                &::after
                      background-color: #cccccc
                      position: absolute
                      height: 18px
                      content: ''
                      bottom: 0px
                      width: 40px
                      z-index: 1
                      left: 0px
                code
                    background-color: transparent !important
                    line-height: 18px !important
                    display: block !important
                    padding: 0px !important
