// Header
#header
    +box-shadow(0 0 8px $grey5)
    border-bottom: 1px solid #cecece
    #sr-header-area
        background: $white
        border-bottom: 1px solid $grey2
        #RESShortcutsEditContainer
            background: $white !important
            height: 17px !important
            #RESShortcutsSort, #RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd, #RESShortcutsTrash
                @extend #RESShortcutsEditContainer
        #sr-more-link
            background-color: #5195C5
            padding: 0 5px 0 6px
    #header-bottom-left
        background: $white
        height: $header-height
        font-size: 12px
        #header-img
            margin: 40px 5px -5px 15px
            width: calc(472px/15)
            height: calc(658px/15)
            &-a::after
                content: $rlogo
        .pagename
            position: absolute
            border-top: 1px solid $grey2
            border-bottom: 1px solid $grey2
            bottom: 44px
            left: 0
            right: 0
            font-size: 0px
            text-align: center
            a
                background: $green
                display: inline-block
                padding: 5px
                width: 318px
                text-transform: uppercase
                font-family: $font
                font-weight: normal
                font-size: 0
                color: $white
                cursor: default
                &::after
                    content: $tagline
                    font-size: 14px
                &:hover
                    opacity: 1
                    text-decoration: none
        .tabmenu
            position: absolute
            bottom: 0
            left: 0
            right: 0
            height: 44px
            text-align: center
            font-family: $font
            li
                margin: 0 1.25em
                line-height: 44px
                &:nth-child(4), &:nth-child(6), &:nth-child(7),&:nth-child(9)
                    display: none
                &.selected
                    a
                        background: none
                        border: none
                        color: $dark
                a
                    background: none
                    display: inline-block
                    text-transform: capitalize
                    line-height: 14px
                    color: $dark
    #header-bottom-right
        background: none
        margin: 0 11px 0 0 !important
        bottom: 49px
        .res &
            top: 112px !important
        a
            color: $dark
        #userbarToggle
            background: none !important
            border: none !important
            left: 1px
            color: $green
