// RES fixes and whatnot
.res
    div.RES-keyNav-activeElement, div.commentarea div.RES-keyNav-activeElement.entry div.noncollapsed
        background: #FAFAFA!important
        padding-left: 10px!important
    .entry
        transition: all 0.15s ease
    .RES-keyNav-activeElement
        transition: all 0.35s ease
    .gearIcon
        background-image: url(%%icons%%)
    #RESMainGearOverlay
        background-color: $green
        border: 1px solid $green4
    .RESDropdownList
        background-color: $green
        border: 1px solid $green4
    .RESDropdownList li
        border-bottom: 1px solid $green4
        color: #fff
    #DashboardLink a
        color: #fff
    .RESDropdownList li:hover, .RESDropdownList li a:hover
        background-color: #4B8065
        color: #fff
