// Search Page
.search-page
    #search
        top: initial
        position: initial
    .searchpane
        background-color: $grey
        border: none
        border-top: 5px solid $green
        margin: 5px 0
    .menuarea
        border-bottom: 1px solid #bbb
