// Side
.side
    margin: 3px 15px 0 5px
    #search
        position: absolute
        top: 146px
        z-index: 99
        &:hover
            &::before
                right: 320px
                opacity: 1
                visibility: visible
            &::after
                right: 309px
                opacity: 1
                visibility: visible
        &::before
            content: $searchwarn
            background-color: $green
            position: absolute
            margin: 0 auto
            padding: 15px
            top: -6px
            right: 20px
            width: 650px
            text-align: center
            font-size: 0.95em
            font-weight: bold
            color: $white
            z-index: 99
            opacity: 0
            visibility: hidden
            +transition(all 0.25s ease)
        &::after
            content: ""
            position: absolute
            border-top: 20px solid transparent
            border-bottom: 20px solid transparent
            border-left: 20px solid $green
            top: -4px
            right: 0
            opacity: 0
            visibility: hidden
            +transition(all 0.25s ease)
        input[type=text]
            border: 1px solid #A9A9A9 !important
            &::-webkit-input-placeholder
                text-transform: uppercase
                &::after
                    content: " BEFORE SUBMITTING!"
            &:-moz-input-placeholder
                text-transform: uppercase
                &::after
                    content: " BEFORE SUBMITTING!"
            &::-moz-input-placeholder
                text-transform: uppercase
                &::after
                    content: " BEFORE SUBMITTING!"
            &::-ms-input-placeholder
                text-transform: uppercase
                &::after
                    content: " BEFORE SUBMITTING!"
        .infobar
            background-color: #EBF3EF
            border-color: $green2
        #searchexpando
            border-radius: 0
            padding-top: 0
            width: 300px
            label:nth-of-type(1)
                display: none
            #moresearchinfo
                border: 0 solid $green
                label + &
                    margin-top: 9px

    .morelink
        background: $white
        border: 1px solid $grey4
        display: block
        height: 30px
        font-size: 13px
        letter-spacing: 0
        &:hover
            background: $green6
            border: 1px solid $green6
            a
                opacity: 1
                color: $white
        a
            text-transform: uppercase
            font-family: $font
            font-size: 14px
            font-weight: normal
            color: $dark
        .nub
            display: none
    .submit-link
        &:hover
            &::before
                +transform(translateY(0))
        &::before
            content: $sbtnwarn
            background-color: $green6
            border-bottom: 3px solid $green5
            position: absolute
            padding: 15px
            top: 0
            left: 0
            right: 0
            height: 5.5em
            line-height: 4em
            font-family: $font
            font-size: 2em
            font-weight: bold
            text-align: center
            color: $white
            +transform(translateY(-10em))
            +transition(all 0.25s ease)
            z-index: 100
    .titlebox
        .redditname
            text-align: center
            &::before
                content: "Welcome to "
            &::after
                content: "!"
            a
                visibility: hidden
                font-size: 0
                &::after
                    content: "/r/NotTheOnion"
                    visibility: visible
                    font-size: 18px
            + div
                text-align: center
        #subButtons-#{$subreddit}
            text-align: center
        .fancy-toggle-button
            margin-bottom: 0
            .add
                background: $green !important
                border: none !important
                border-radius: 0 !important
            .remove
                background: #e8e8e8 !important
                border: none !important
                border-radius: 0 !important
                color: #707070
        .RESshortcutside, .RESDashboardToggle
            background: $green !important
            border: none !important
            border-radius: 0 !important
            &.remove
                background: #e8e8e8 !important
                border: none !important
                border-radius: 0 !important
                color: #707070
        .users-online
            display: inline
            .word, &::before
                display: none
            .number
                &::before
                    content: " ("
                &::after
                    content: ")"
        .subscribers
            display: inline
        @at-root .res
            .titlebox
                .users-online
                    position: relative
                    display: inline
                    top: 5px
                    .word
                        display: inline
                    .number
                        &::before
                            content: ", "
                        &::after
                            content: ""
                .subscribers
                    position: relative
                    display: inline
                    top: 5px
                    margin-left: 55px
        .leavemoderator, .toggle.leavecontributor-button, .flairtoggle, .tagline
            display: none
        .md
            font-family: $font
            a
                color: $green
            h2
                background: $green
                padding: 5px 15px
                margin: 0
                font-family: $font
                font-size: 1.2em !important
                font-weight: normal
                text-transform: uppercase
                text-align: center
                color: $white
            h3
                @at-root body:not(.submit-page) .side .titlebox .md a[href="#{$logolink}"]
                    background: $img4
                    position: absolute
                    width: 272px
                    height: 31px
                    top: 68px
                    left: calc(50% - 136px)
                    z-index: 99
                + blockquote
                    background: $grey
                    border-top: 5px solid $green
                    padding: 10px 15px
                    margin-left: 0
                    border-left: none
                    font-family: $font
                    h3
                        font-weight: 700
                        text-transform: uppercase
                        color: $green
            h4
                + blockquote
                    border-top: 1px solid $grey4
                    border-left: none
                    padding: 0
                    margin-left: 0
                    h3
                        background: $green
                        margin-top: 0 !important
                        padding: 5px 15px
                        display: inline-block
                        text-transform: uppercase
                        font-family: $font
                        font-weight: normal
                        color: $white
                        + h3
                            background: none
                            padding: 5px 0
                            margin-top: 0 !important
                            display: inline-block
                            width: 70%
                            font-family: Arial, Helvetica, sans-serif
                            font-size: 1.2em !important
                            text-align: right
                            color: $white
            h6
                &:nth-of-type(1)
                    background: none
                    position: absolute
                    top: 102px
                    left: 5px
                    height: 30px
                    line-height: 30px
                    font-family: $font
                    font-size: 1em
                    font-weight: bold
                    text-indent: 10px
                    text-decoration: none
                    color: $dark
                    z-index: 99
                + h6
                    text-decoration: none
                    a
                        background: $white
                        border: 1px solid $blue
                        padding: 0.5em
                        display: block
                        text-align: center
                        color: $blue
                        &:hover
                            background: $blue
                            color: $white
                            opacity: 1
            ol
                padding: 0
                margin-top: -5px
                margin-left: 16px
                counter-reset: li
                +transition(all 0.25 ease)
                > li
                    position: relative
                    border-radius: 3px
                    padding: 5px 5px 5px 15px
                    margin: 5px 0
                    display: block
                    color: #444
                    +transition(background 0.25s ease)
                    &:hover
                        +grad2(left, $white, 0%, $grey, 100%)
                        &::before
                            background: $green
                            border: $green
                            color: $white
                        > ul
                            max-height: 900px
                    &::before
                        content: counter(li)
                        counter-increment: li
                        background: none
                        position: absolute
                        border: 1px solid #009e56
                        border-radius: 100%
                        top: 0
                        left: -1.3em
                        width: 2em
                        height: 2em
                        line-height: 22px
                        text-align: center
                        font-weight: bold
                        color: $green5
                    > ul
                        padding: 0
                        margin: 0
                        max-height: 0
                        overflow: hidden
                        list-style-type: none
                        +transition(all 0.5s .1s ease)

    .sidebox.create
        display: none
    .sidecontentbox
        font-family: $font
        .content
            border: 1px solid $grey2
