// Submit Page
.submit-page
    .content
        margin: 0  auto
        width: 600px
        height: 1500px
        .spacer
            width: 500px
        .submit
            .info-notice
                background-color: rgba(0,107,58,0.14)
                border: 1px solid $green
            .formtabs-content
                border-top: none
                padding-top: 6px
                &::before
                    content: $swarn2
                    margin: 10px 0
                    font-size: 16px
                    color: #4b975F
                #url-field button
                    display: none
                .infobar
                    display: none !important
                .roundfield#reddit-field
                    display: none
                div:nth-child(3):hover, div:nth-child(2):hover
                    .roundfield .title::after
                        content: " > Copy and paste directly from the article"
            &.content
                .tabmenu
                    display: none
                &::before
                    content: $swarn1
                    margin: 10px 0
                    font-size: 16px
                    font-weight: bold
                    color: #1f7d38
            .submit_text
                max-height: 600px
                h1
                    color: $green
            .btn
                display: none
            &:target .btn
                display: block
            &:not(:target) .spacer .status::before
                content: $submitbtn
    .side
        background: none
        position: absolute
        display: block !important
        border-radius: 1px
        padding: 0
        margin-top: -1px
        left: calc(50% - -208px)
        width: 300px
        #search
            position: absolute
            top: -37px
        h3
            a[href="#{$logolink}"]
                background: $img4
                position: absolute
                top: -115px
                left: calc(50% - 499px)
                width: 272px
                height: 31px
                z-index: 99
        h6
            &:nth-of-type(1)
                display: none
        .sidecontentbox
            display: none
            .content
                width: initial
