
/* Stylesheet Variables */

//Important Stuffs
$header-height: 165px
$subreddit: "NotTheOnion"
$logolink: "/r/NotTheOnion"
$tagline: "Reddit's Finest News Source"
$rlogo: "« return to reddit"

// Font Family
$font: gandhi_serifregular,"Georgia",Times New Roman,serif

// Colour Variables
$green: #006B3A
$green1: #1A5C3D
$green2: #bcd8ca
$green3: #1f6d39
$green4: #1a5c3d
$green5: #00522c
$green6: #1D7F39
$white: #fff
$white2: #f5f5f5
$grey: #f2f2f2
$grey2: #ddd
$grey3: #ebf3ef
$grey4: #ccc
$grey5: #dedede
$dark: #222
$yellow: #d0ac06
$yellow2: #e6bc16
$blue: #005cb7
$red: #ff0000

// Image Variables
$img: url(%%icons%%)
$img1: url(%%ricons%%)
$img2: url(%%sprite%%)
$img3: url(%%ntovote%%)
$img4: url(%%logo%%)
$img5: url(%%NTOC%%)
$img6: url(%%snoo%%)

// Text String Variables //
// Report Reasons (link)
$lreport1: "Rule 1: Altered Headline"
$lreport2: "Rule 3: Not News (Blog, Tabloid, etc)"
$lreport3: "Rule 5: Repost"
$lreport4: "Rule 8: Story older than 2 weeks"
$lreport5: "Rule 10 & 11: Mobile website or paywall"
// Report Reasons (link)
$creport1: "Personal Attacks"
$creport2: "Racism, bigotry, homophobia, etc"
$creport3: "Personal Information or Witch-Hunting"
$creport4: "Innapropriate Content (Porn, Gore, etc)"
$creport5: "Spam"
$creport6: " please send us a modmail with your concerns"
// Submit Page
$sbtnwarn: "ಠ_ಠ NO REPOSTS! Use the search feature and review current posts to avoid posting duplicates."
$swarn1: "Please review our rules before submitting."
$swarn2: "Submissions that violate our rules will be removed, and repeat infractions may result in a ban."
$submitbtn: "You must read the submission guidelines above and indicate that you have read them before you can submit to this subreddit."
// Search Warning
$searchwarn: "If you're looking for a specific post, try searching for just one key word from the title, rather than the entire title."
//Comment Waring
$commentwarn: "Remember to keep all comments civil! Abusive comments, such as those containing racism, homophobia, bigotry, or personal attacks, are not permitted. Witch hunting, brigading, and posting personal information are not permitted. Report any abusive or rulebreaking comments using the ''report'' button."

/* Mixins */

=grad2($dir, $col1, $per, $col2, $per2)
    background: $col1 // Older Browsers
    background: -webkit-linear-gradient($dir, $col1 $per, $col2 $per2) // Chrome10+,Safari5.1+
    background: -moz-linear-gradient($dir, $col1 $per, $col2 $per2)  // FF3.6+
    background: -ms-linear-gradient($dir, $col1 $per, $col2 $per2) // IE10+
    background: -o-linear-gradient($dir, $col1 $per, $col2 $per2) // Opera 11.10+

=box-shadow($shadows...)
    -moz-box-shadow: $shadows
    -webkit-box-shadow: $shadows
    box-shadow: $shadows

=transition($type...)
    -webkit-transition: $type
    -moz-transition: $type
    -o-transition: $type
    -ms-transition: $type
    transition: $type

=transform($type...)
    -webkit-transform: $type
    -moz-transform: $type
    -o-transform: $type
    -ms-transform: $type
    transform: $type
