.wiki-page
    .wiki-page-content
        margin-right: initial
        h1
            border-top: 3px solid $green
            padding-top: 11px
            font-family: $font
            font-weight: normal !important
            color: $dark !important
        h2
            border-top: 1px solid #bbb
            padding-top: 13px
            font-family: $font
            font-weight: normal !important
            font-size: 21px !important
            color: $dark !important
        h3
            font-family: $font
            font-weight: bold !important
            font-size: 15px !important
            color: $dark !important
        h4
            font-family: $font
            font-weight: bold !important
            font-size: 14px !important
            color: #222 !important
        .wiki>.toc>ul
            background: $grey
            border: none
            border-top: 3px solid $green
            padding: 11px 22px
            margin: 22px 10px 12px 22px
            float: right
            max-width: 300px
            list-style: none
    .pageactions
        border: 1px solid $green
        .wiki-action
            &:hover
                background-color: rgba(0,107,58,0.08)
            &-current
                background-color: $green
