@charset "UTF-8";
/* Stylesheet Variables */
/* Mixins */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

body a { -webkit-transition: color 0.25s ease, opacity 0.25s ease; -moz-transition: color 0.25s ease, opacity 0.25s ease; -o-transition: color 0.25s ease, opacity 0.25s ease; -ms-transition: color 0.25s ease, opacity 0.25s ease; transition: color 0.25s ease, opacity 0.25s ease; color: #006B3A; }

body a:hover, body a:focus { text-decoration: none; opacity: 0.8; }

body a:active, body a:visited { color: #00522c; }

body p { font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; }

body .md { font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; }

body .md a { color: #006B3A; }

body .roundfield, body .linefield { background-color: #f2f2f2; border-radius: 0; border-top: 5px solid #006B3A; }

body .roundfield textarea, body .roundfield input[type=text], body .roundfield input[type=url], body .roundfield input[type=password], body .roundfield input[type=number], body .linefield textarea, body .linefield input[type=text], body .linefield input[type=url], body .linefield input[type=password], body .linefield input[type=number] { width: 480px; }

body .expando-button { background-image: url(%%ricons%%) !important; background-repeat: no-repeat; }

body .expando-button.selftext { background-position: -59px -584px; }

body .expando-button.selftext .expanded:hover { background-position: -31px -584px; }

body .expando-button.selftext .collapsed { background-position: -2px -584px; }

body .expando-button.selftext .collapsed:hover { background-position: -94px -547px; }

body .expando-button.image, body .expando-button.video-muted { background-image: url(%%icons%%) !important; }

body .expando-button.video .expanded { background-position: -59px -613px; }

body .expando-button.video .expanded:hover { background-position: -30px -613px; }

body .expando-button.video .collapsed { background-position: -1px -613px; }

body .expando-button.video .collapsed:hover { background-position: -88px -584px; }

body .nextprev a, body .next-suggestions a { border-radius: none; color: #006B3A; }

.res body .RESThrobber { display: none; }

.res body .NERPageMarker, .res body #NERFail, .res body #progressIndicator { background-color: #f5f7f7 !important; border: none !important; border-radius: 0 !important; color: #222 !important; }

.res body #NERFail, .res body #progressIndicator { padding: 15px; width: 100%; }

.mod-toolbox #tb-bottombar, .mod-toolbox #tb-bottombar::before, .mod-toolbox #tb-bottombar::after, div.sticky { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box; }

.mod-toolbox #tb-bottombar, .mod-toolbox #tb-bottombar-hidden, .mod-toolbox #tb-tooltip, .tb-popup-header, .mod-toolbox .subreddits-you-mod-popup .tb-popup-footer, .mod-toolbox .tb-popup .tb-popup-header .buttons { background: #006B3A !important; opacity: 0.9; color: #fff; border-top: 1px solid #004A28 !important; }

.mod-toolbox #tb-bottombar a, .mod-toolbox .tb-popup .tb-popup-header .buttons a { color: #fff; }

.mod-toolbox #tb-toolbar-mysubs:hover, .mod-toolbox #tb-personal-notes-button:hover, .mod-toolbox #tb-toolbar-mysubs { border: none; background: #006B3A !important; opacity: 0.9; }

div.sticky { background: #ebf3ef; border: 1px solid #BCD8CA; }

div.sticky #siteTable .thing .md, div.sticky .wiki-page-content .md { padding: 0px 10px 10px 10px; }

div.sticky #siteTable .thing .md h1, div.sticky #siteTable .thing .md h2, div.sticky #siteTable .thing .md h3, div.sticky #siteTable .thing .md p, div.sticky #siteTable .thing .md blockquote, div.sticky #siteTable .thing .md ul, div.sticky #siteTable .thing .md ol, div.sticky #siteTable .thing .md hr, div.sticky #siteTable .thing .md pre, div.sticky #siteTable .thing .md table, div.sticky .wiki-page-content .md h1, div.sticky .wiki-page-content .md h2, div.sticky .wiki-page-content .md h3, div.sticky .wiki-page-content .md p, div.sticky .wiki-page-content .md blockquote, div.sticky .wiki-page-content .md ul, div.sticky .wiki-page-content .md ol, div.sticky .wiki-page-content .md hr, div.sticky .wiki-page-content .md pre, div.sticky .wiki-page-content .md table { font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; margin: 20px 10px 10px 10px; }

div.sticky #siteTable .thing .md h1, div.sticky .wiki-page-content .md h1 { text-align: center; font-size: 34px; color: #fff; text-shadow: 1px 1px 0 #000000; font-weight: normal; }

div.sticky #siteTable .thing .md h2, div.sticky .wiki-page-content .md h2 { font-size: 24px; font-weight: normal; color: #c6d4df; }

div.sticky #siteTable .thing .md h3, div.sticky .wiki-page-content .md h3 { font-size: 18px; font-weight: normal; color: #fff; }

div.sticky #siteTable .thing .md h4, div.sticky .wiki-page-content .md h4 { color: #67c1f5; font-size: 18px; font-weight: normal; }

div.sticky #siteTable .thing .md h5, div.sticky .wiki-page-content .md h5 { margin: -5px 10px 10px 10px; color: #666666; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: italic; font-size: 14px; }

div.sticky #siteTable .thing .md h6, div.sticky .wiki-page-content .md h6 { margin: 40px 80px; color: #666666; font-family: Arial, Helvetica, sans-serif; font-weight: normal; text-align: center; font-style: italic; font-size: 14px; }

div.sticky #siteTable .thing .md p, div.sticky .wiki-page-content .md p { line-height: 20px; font-size: 14px; }

div.sticky #siteTable .thing .md ul, div.sticky .wiki-page-content .md ul { list-style: none; }

div.sticky #siteTable .thing .md ol, div.sticky .wiki-page-content .md ol { list-style-position: inside; }

div.sticky #siteTable .thing .md ul, div.sticky #siteTable .thing .md ol, div.sticky .wiki-page-content .md ul, div.sticky .wiki-page-content .md ol { border-right: solid 1px #eaeaea; border-left: solid 1px #eaeaea; border-top: solid 1px #eaeaea; line-height: 20px; font-size: 14px; padding: 0; }

div.sticky #siteTable .thing .md ul li, div.sticky #siteTable .thing .md ol li, div.sticky .wiki-page-content .md ul li, div.sticky .wiki-page-content .md ol li { border-bottom: solid 1px #eaeaea; background-color: #f8f8f8; padding: 5px; }

div.sticky #siteTable .thing .md ul:nth-child(odd), div.sticky #siteTable .thing .md ol:nth-child(odd), div.sticky .wiki-page-content .md ul:nth-child(odd), div.sticky .wiki-page-content .md ol:nth-child(odd) { background-color: #f2f2f2; }

div.sticky #siteTable .thing .md blockquote, div.sticky .wiki-page-content .md blockquote { padding: 1px 10px 10px 10px; border-left: solid 5px #aaaaaa; background-color: #f2f2f2; line-height: 20px; font-size: 14px; color: #2f2f2f; }

div.sticky #siteTable .thing .md blockquote:hover, div.sticky .wiki-page-content .md blockquote:hover { background: #e6e6e6; }

div.sticky #siteTable .thing .md hr, div.sticky .wiki-page-content .md hr { margin: 40px 80px; background-color: #cccccc; border: none; height: 1px; }

div.sticky #siteTable .thing .md code, div.sticky .wiki-page-content .md code { background-color: #f2f2f2; display: inline-block; padding: 2px 4px; }

div.sticky #siteTable .thing .md table thead tr th, div.sticky .wiki-page-content .md table thead tr th { background-color: #ccc; font-weight: normal; padding: 10px 20px; font-size: 14px; border: none; }

div.sticky #siteTable .thing .md table tbody, div.sticky .wiki-page-content .md table tbody { background: #ccc; }

div.sticky #siteTable .thing .md table tbody tr, div.sticky .wiki-page-content .md table tbody tr { border-bottom: solid 1px #eaeaea; }

div.sticky #siteTable .thing .md table tbody tr:hover, div.sticky .wiki-page-content .md table tbody tr:hover { background-color: #e6e6e6; }

div.sticky #siteTable .thing .md table tbody tr td, div.sticky .wiki-page-content .md table tbody tr td { padding: 10px 20px; border: none; }

div.sticky #siteTable .thing .md pre, div.sticky .wiki-page-content .md pre { padding: 18px 10px 18px 52px; background-color: #f2f2f2; position: relative; line-height: 18px; font-size: 12px; display: block; width: auto; }

div.sticky #siteTable .thing .md pre:hover, div.sticky .wiki-page-content .md pre:hover { background: #e6e6e6; }

div.sticky #siteTable .thing .md pre::before, div.sticky .wiki-page-content .md pre::before { content: "#  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99  100  101  102  103  104  105  106  107  108  109  110  111  112  113  114  115  116  117  118  119  120  121  122  123  124  125  126  127  128  129  130  131  132  133  134  135  136  137  138  139  140  141  142  143  144  145  146  147  148  149  150  151  152  153  154  155  156  157  158  159  160  161  162  163  164  165  166  167  168  169  170  171  172  173  174  175  176  177  178  179  180  181  182  183  184  185  186  187  188  189  190  191  192  193  194  195  196  197  198  199  200  201  202  203  204  205  206  207  208  209  210  211  212  213  214  215  216  217  218  219  220  221  222  223  224  225  226  227  228  229  230  231  232  233  234  235  236  237  238  239  240  241  242  243  244  245  246  247  248  249  250  251  252  253  254  255  256  257  258  259  260  261  262  263  264  265  266  267  268  269  270  271  272  273  274  275  276  277  278  279  280  281  282  283  284  285  286  287  288  289  290  291  292  293  294  295  296  297  298  299  300  301  302  303  304  305  306  307  308  309  310  311  312  313  314  315  316  317  318  319  320  321  322  323  324  325  326  327  328  329  330  331  332  333  334  335  336  337  338  339  340  341  342  343  344  345  346  347  348  349  350  351  352  353  354  355  356  357  358  359  360  361  362  363  364  365  366  367  368  369  370  371  372  373  374  375  376  377  378  379  380  381  382  383  384  385  386  387  388  389  390  391  392  393  394  395  396  397  398  399  400  401  402  403  404  405  406  407  408  409  410  411  412  413  414  415  416  417  418  419  420  421  422  423  424  425  426  427  428  429  430  431  432  433  434  435  436  437  438  439  440  441  442  443  444  445  446  447  448  449  450  451  452  453  454  455  456  457  458  459  460  461  462  463  464  465  466  467  468  469  470  471  472  473  474  475  476  477  478  479  480  481  482  483  484  485  486  487  488  489  490  491  492  493  494  495  496  497  498  499  500 "; border-right: solid 2px #aaa; background-color: #ccc; padding: 0px 10px 0px 5px; white-space: pre-wrap; position: absolute; line-height: 18px; text-align: right; overflow: hidden; font-size: 12px; height: 100%; width: 18px; left: 0px; top: 0px; }

div.sticky #siteTable .thing .md pre::after, div.sticky .wiki-page-content .md pre::after { background-color: #cccccc; position: absolute; height: 18px; content: ''; bottom: 0px; width: 40px; z-index: 1; left: 0px; }

div.sticky #siteTable .thing .md pre code, div.sticky .wiki-page-content .md pre code { background-color: transparent !important; line-height: 18px !important; display: block !important; padding: 0px !important; }

#header { -moz-box-shadow: 0 0 8px #dedede; -webkit-box-shadow: 0 0 8px #dedede; box-shadow: 0 0 8px #dedede; border-bottom: 1px solid #cecece; }

#header #sr-header-area { background: #fff; border-bottom: 1px solid #ddd; }

#header #sr-header-area #RESShortcutsEditContainer, #header #sr-header-area #RESShortcutsEditContainer #RESShortcutsSort, #header #sr-header-area #RESShortcutsEditContainer #RESShortcutsRight, #header #sr-header-area #RESShortcutsEditContainer #RESShortcutsLeft, #header #sr-header-area #RESShortcutsEditContainer #RESShortcutsAdd, #header #sr-header-area #RESShortcutsEditContainer #RESShortcutsTrash { background: #fff !important; height: 17px !important; }

#header #sr-header-area #sr-more-link { background-color: #5195C5; padding: 0 5px 0 6px; }

#header #header-bottom-left { background: #fff; height: 165px; font-size: 12px; }

#header #header-bottom-left #header-img { margin: 40px 5px -5px 15px; width: calc(472px/15); height: calc(658px/15); }

#header #header-bottom-left #header-img-a::after { content: "« return to reddit"; }

#header #header-bottom-left .pagename { position: absolute; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; bottom: 44px; left: 0; right: 0; font-size: 0px; text-align: center; }

#header #header-bottom-left .pagename a { background: #006B3A; display: inline-block; padding: 5px; width: 318px; text-transform: uppercase; font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; font-weight: normal; font-size: 0; color: #fff; cursor: default; }

#header #header-bottom-left .pagename a::after { content: "Reddit's Finest News Source"; font-size: 14px; }

#header #header-bottom-left .pagename a:hover { opacity: 1; text-decoration: none; }

#header #header-bottom-left .tabmenu { position: absolute; bottom: 0; left: 0; right: 0; height: 44px; text-align: center; font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; }

#header #header-bottom-left .tabmenu li { margin: 0 1.25em; line-height: 44px; }

#header #header-bottom-left .tabmenu li:nth-child(4), #header #header-bottom-left .tabmenu li:nth-child(6), #header #header-bottom-left .tabmenu li:nth-child(7), #header #header-bottom-left .tabmenu li:nth-child(9) { display: none; }

#header #header-bottom-left .tabmenu li.selected a { background: none; border: none; color: #222; }

#header #header-bottom-left .tabmenu li a { background: none; display: inline-block; text-transform: capitalize; line-height: 14px; color: #222; }

#header #header-bottom-right { background: none; margin: 0 11px 0 0 !important; bottom: 49px; }

.res #header #header-bottom-right { top: 112px !important; }

#header #header-bottom-right a { color: #222; }

#header #header-bottom-right #userbarToggle { background: none !important; border: none !important; left: 1px; color: #006B3A; }

.side { margin: 3px 15px 0 5px; }

.side #search { position: absolute; top: 146px; z-index: 99; }

.side #search:hover::before { right: 320px; opacity: 1; visibility: visible; }

.side #search:hover::after { right: 309px; opacity: 1; visibility: visible; }

.side #search::before { content: "If you're looking for a specific post, try searching for just one key word from the title, rather than the entire title."; background-color: #006B3A; position: absolute; margin: 0 auto; padding: 15px; top: -6px; right: 20px; width: 650px; text-align: center; font-size: 0.95em; font-weight: bold; color: #fff; z-index: 99; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease; -ms-transition: all 0.25s ease; transition: all 0.25s ease; }

.side #search::after { content: ""; position: absolute; border-top: 20px solid transparent; border-bottom: 20px solid transparent; border-left: 20px solid #006B3A; top: -4px; right: 0; opacity: 0; visibility: hidden; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease; -ms-transition: all 0.25s ease; transition: all 0.25s ease; }

.side #search input[type=text] { border: 1px solid #A9A9A9 !important; }

.side #search input[type=text]::-webkit-input-placeholder { text-transform: uppercase; }

.side #search input[type=text]::-webkit-input-placeholder::after { content: " BEFORE SUBMITTING!"; }

.side #search input[type=text]:-moz-input-placeholder { text-transform: uppercase; }

.side #search input[type=text]:-moz-input-placeholder::after { content: " BEFORE SUBMITTING!"; }

.side #search input[type=text]::-moz-input-placeholder { text-transform: uppercase; }

.side #search input[type=text]::-moz-input-placeholder::after { content: " BEFORE SUBMITTING!"; }

.side #search input[type=text]::-ms-input-placeholder { text-transform: uppercase; }

.side #search input[type=text]::-ms-input-placeholder::after { content: " BEFORE SUBMITTING!"; }

.side #search .infobar { background-color: #EBF3EF; border-color: #bcd8ca; }

.side #search #searchexpando { border-radius: 0; padding-top: 0; width: 300px; }

.side #search #searchexpando label:nth-of-type(1) { display: none; }

.side #search #searchexpando #moresearchinfo { border: 0 solid #006B3A; }

label + .side #search #searchexpando #moresearchinfo { margin-top: 9px; }

.side .morelink { background: #fff; border: 1px solid #ccc; display: block; height: 30px; font-size: 13px; letter-spacing: 0; }

.side .morelink:hover { background: #1D7F39; border: 1px solid #1D7F39; }

.side .morelink:hover a { opacity: 1; color: #fff; }

.side .morelink a { text-transform: uppercase; font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; font-size: 14px; font-weight: normal; color: #222; }

.side .morelink .nub { display: none; }

.side .submit-link:hover::before { -webkit-transform: translateY(0); -moz-transform: translateY(0); -o-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }

.side .submit-link::before { content: "ಠ_ಠ NO REPOSTS! Use the search feature and review current posts to avoid posting duplicates."; background-color: #1D7F39; border-bottom: 3px solid #00522c; position: absolute; padding: 15px; top: 0; left: 0; right: 0; height: 5.5em; line-height: 4em; font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; font-size: 2em; font-weight: bold; text-align: center; color: #fff; -webkit-transform: translateY(-10em); -moz-transform: translateY(-10em); -o-transform: translateY(-10em); -ms-transform: translateY(-10em); transform: translateY(-10em); -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease; -ms-transition: all 0.25s ease; transition: all 0.25s ease; z-index: 100; }

.side .titlebox .redditname { text-align: center; }

.side .titlebox .redditname::before { content: "Welcome to "; }

.side .titlebox .redditname::after { content: "!"; }

.side .titlebox .redditname a { visibility: hidden; font-size: 0; }

.side .titlebox .redditname a::after { content: "/r/NotTheOnion"; visibility: visible; font-size: 18px; }

.side .titlebox .redditname + div { text-align: center; }

.side .titlebox #subButtons-NotTheOnion { text-align: center; }

.side .titlebox .fancy-toggle-button { margin-bottom: 0; }

.side .titlebox .fancy-toggle-button .add { background: #006B3A !important; border: none !important; border-radius: 0 !important; }

.side .titlebox .fancy-toggle-button .remove { background: #e8e8e8 !important; border: none !important; border-radius: 0 !important; color: #707070; }

.side .titlebox .RESshortcutside, .side .titlebox .RESDashboardToggle { background: #006B3A !important; border: none !important; border-radius: 0 !important; }

.side .titlebox .RESshortcutside.remove, .side .titlebox .RESDashboardToggle.remove { background: #e8e8e8 !important; border: none !important; border-radius: 0 !important; color: #707070; }

.side .titlebox .users-online { display: inline; }

.side .titlebox .users-online .word, .side .titlebox .users-online::before { display: none; }

.side .titlebox .users-online .number::before { content: " ("; }

.side .titlebox .users-online .number::after { content: ")"; }

.side .titlebox .subscribers { display: inline; }

.res .titlebox .users-online { position: relative; display: inline; top: 5px; }

.res .titlebox .users-online .word { display: inline; }

.res .titlebox .users-online .number::before { content: ", "; }

.res .titlebox .users-online .number::after { content: ""; }

.res .titlebox .subscribers { position: relative; display: inline; top: 5px; margin-left: 55px; }

.side .titlebox .leavemoderator, .side .titlebox .toggle.leavecontributor-button, .side .titlebox .flairtoggle, .side .titlebox .tagline { display: none; }

.side .titlebox .md { font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; }

.side .titlebox .md a { color: #006B3A; }

.side .titlebox .md h2 { background: #006B3A; padding: 5px 15px; margin: 0; font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; font-size: 1.2em !important; font-weight: normal; text-transform: uppercase; text-align: center; color: #fff; }

body:not(.submit-page) .side .titlebox .md a[href="/r/NotTheOnion"] { background: url(%%logo%%); position: absolute; width: 272px; height: 31px; top: 68px; left: calc(50% - 136px); z-index: 99; }

.side .titlebox .md h3 + blockquote { background: #f2f2f2; border-top: 5px solid #006B3A; padding: 10px 15px; margin-left: 0; border-left: none; font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; }

.side .titlebox .md h3 + blockquote h3 { font-weight: 700; text-transform: uppercase; color: #006B3A; }

.side .titlebox .md h4 + blockquote { border-top: 1px solid #ccc; border-left: none; padding: 0; margin-left: 0; }

.side .titlebox .md h4 + blockquote h3 { background: #006B3A; margin-top: 0 !important; padding: 5px 15px; display: inline-block; text-transform: uppercase; font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; font-weight: normal; color: #fff; }

.side .titlebox .md h4 + blockquote h3 + h3 { background: none; padding: 5px 0; margin-top: 0 !important; display: inline-block; width: 70%; font-family: Arial, Helvetica, sans-serif; font-size: 1.2em !important; text-align: right; color: #fff; }

.side .titlebox .md h6:nth-of-type(1) { background: none; position: absolute; top: 102px; left: 5px; height: 30px; line-height: 30px; font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; font-size: 1em; font-weight: bold; text-indent: 10px; text-decoration: none; color: #222; z-index: 99; }

.side .titlebox .md h6 + h6 { text-decoration: none; }

.side .titlebox .md h6 + h6 a { background: #fff; border: 1px solid #005cb7; padding: 0.5em; display: block; text-align: center; color: #005cb7; }

.side .titlebox .md h6 + h6 a:hover { background: #005cb7; color: #fff; opacity: 1; }

.side .titlebox .md ol { padding: 0; margin-top: -5px; margin-left: 16px; counter-reset: li; -webkit-transition: all 0.25 ease; -moz-transition: all 0.25 ease; -o-transition: all 0.25 ease; -ms-transition: all 0.25 ease; transition: all 0.25 ease; }

.side .titlebox .md ol > li { position: relative; border-radius: 3px; padding: 5px 5px 5px 15px; margin: 5px 0; display: block; color: #444; -webkit-transition: background 0.25s ease; -moz-transition: background 0.25s ease; -o-transition: background 0.25s ease; -ms-transition: background 0.25s ease; transition: background 0.25s ease; }

.side .titlebox .md ol > li:hover { background: #fff; background: -webkit-linear-gradient(left, #fff 0%, #f2f2f2 100%); background: -moz-linear-gradient(left, #fff 0%, #f2f2f2 100%); background: -ms-linear-gradient(left, #fff 0%, #f2f2f2 100%); background: -o-linear-gradient(left, #fff 0%, #f2f2f2 100%); }

.side .titlebox .md ol > li:hover::before { background: #006B3A; border: #006B3A; color: #fff; }

.side .titlebox .md ol > li:hover > ul { max-height: 900px; }

.side .titlebox .md ol > li::before { content: counter(li); counter-increment: li; background: none; position: absolute; border: 1px solid #009e56; border-radius: 100%; top: 0; left: -1.3em; width: 2em; height: 2em; line-height: 22px; text-align: center; font-weight: bold; color: #00522c; }

.side .titlebox .md ol > li > ul { padding: 0; margin: 0; max-height: 0; overflow: hidden; list-style-type: none; -webkit-transition: all 0.5s 0.1s ease; -moz-transition: all 0.5s 0.1s ease; -o-transition: all 0.5s 0.1s ease; -ms-transition: all 0.5s 0.1s ease; transition: all 0.5s 0.1s ease; }

.side .sidebox.create { display: none; }

.side .sidecontentbox { font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; }

.side .sidecontentbox .content { border: 1px solid #ddd; }

.content { margin: 15px 330px 0 15px; }

.content #siteTable .thing { border-bottom: 1px solid #ddd; padding-bottom: 0.5em; }

.content #siteTable .thing.link:not(.stickied) .arrow { background-image: url(%%ntovote%%); background-repeat: no-repeat; width: 15px; height: 15px; }

.content #siteTable .thing.link:not(.stickied) .arrow.up { background-position: 0 -1px; }

.content #siteTable .thing.link:not(.stickied) .arrow.upmod { background-position: -16px -1px; }

.content #siteTable .thing.link:not(.stickied) .arrow.down { background-position: 0 -18px; }

.content #siteTable .thing.link:not(.stickied) .arrow.downmod { background-position: -16px -18px; }

.content #siteTable .thing.link .thumbnail.default, .content #siteTable .thing.link .thumbnail.self, .content #siteTable .thing.link .thumbnail.nsfw { background-image: url(%%ricons%%); }

.content #siteTable .thing.link .entry .title { font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; font-weight: normal; font-size: 17px; line-height: 22px; color: #222 !important; }

.content #siteTable .thing.link .entry .flat-list.buttons a.action-thing { border: 1px solid #006B3A; text-decoration: none; color: #006B3A; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease; -ms-transition: all 0.25s ease; transition: all 0.25s ease; opacity: 1 !important; }

.content #siteTable .thing.link .entry .flat-list.buttons a.action-thing:hover { color: #fff; }

.content #siteTable .thing.link .entry .flat-list.buttons a.action-thing:hover::before { margin-left: 44px; visibility: visible; opacity: 1; }

.content #siteTable .thing.link .entry .flat-list.buttons a.action-thing:hover::after { margin-left: 15px; visibility: visible; opacity: 1; }

.content #siteTable .thing.link .entry .flat-list.buttons a.action-thing::before { content: ""; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-right: 8px solid #006B3A; position: absolute; margin: 1px 0 0 38px; margin-left: -2px; width: 0; height: 0; visibility: hidden; opacity: 0; z-index: 1; }

.content #siteTable .thing.link .entry .flat-list.buttons a.action-thing::after { content: "Please report all posts and comments that break the rules!"; background: #006B3A; position: absolute; margin: -5px 0 0 9px; margin-left: -31px; padding: 5px 10px; visibility: hidden; opacity: 0; color: #006B3A; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease; -ms-transition: all 0.25s ease; transition: all 0.25s ease; }

.content #siteTable .thing.link .entry ul.report-reasons { background-color: #ebf3ef; border: thing solid #bcd8ca; }

.content #siteTable .thing.link .entry ul.report-reasons li.report-reason::after { display: inline-block; position: relative; top: 9px; height: 16px; font-size: 10px; }

.content #siteTable .thing.link .entry ul.report-reasons li.report-reason[title="spam"], .content #siteTable .thing.link .entry ul.report-reasons li.report-reason[title="vote manipulation"], .content #siteTable .thing.link .entry ul.report-reasons li.report-reason[title="personal information"], .content #siteTable .thing.link .entry ul.report-reasons li.report-reason[title="sexualizing minors"], .content #siteTable .thing.link .entry ul.report-reasons li.report-reason[title="breaking reddit"] { font-size: 0; }

.content #siteTable .thing.link .entry .report-action-form { background-color: #EBF3EF; border: thin solid #bcd8ca; }

.content #siteTable .thing.link .entry .report-action-form span.reason-promp::after { content: "Reports without a reason will be ignored!"; font-weight: bold; }

.content #siteTable .thing.link .entry .report-action-form li:not(:last-child) label { font-size: 0; }

.content #siteTable .thing.link .entry .report-action-form li label::after { font-size: 12px; }

.content #siteTable .thing.link .entry .report-action-form li:nth-child(1)::after, .content #siteTable .thing.link .entry .report-action-form li.report-reason[title="spam"]::after { content: "Rule 1: Altered Headline"; }

.content #siteTable .thing.link .entry .report-action-form li:nth-child(2)::after, .content #siteTable .thing.link .entry .report-action-form li.report-reason[title="vote manipulation"]::after { content: "Rule 3: Not News (Blog, Tabloid, etc)"; }

.content #siteTable .thing.link .entry .report-action-form li:nth-child(3)::after, .content #siteTable .thing.link .entry .report-action-form li.report-reason[title="personal information"]::after { content: "Rule 5: Repost"; }

.content #siteTable .thing.link .entry .report-action-form li:nth-child(4)::after, .content #siteTable .thing.link .entry .report-action-form li.report-reason[title="sexualizing minors"]::after { content: "Rule 8: Story older than 2 weeks"; }

.content #siteTable .thing.link .entry .report-action-form li:nth-child(5)::after, .content #siteTable .thing.link .entry .report-action-form li.report-reason[title="breaking reddit"]::after { content: "Rule 10 & 11: Mobile website or paywall"; }

.content .thing.comment .entry .report-action-form li:nth-child(1)::after, .content .thing.comment .entry .report-action-form li.report-reason[title="spam"]::after { content: "Personal Attacks"; }

.content .thing.comment .entry .report-action-form li:nth-child(2)::after, .content .thing.comment .entry .report-action-form li.report-reason[title="vote manipulation"]::after { content: "Racism, bigotry, homophobia, etc"; }

.content .thing.comment .entry .report-action-form li:nth-child(3)::after, .content .thing.comment .entry .report-action-form li.report-reason[title="personal information"]::after { content: "Personal Information or Witch-Hunting"; }

.content .thing.comment .entry .report-action-form li:nth-child(4)::after, .content .thing.comment .entry .report-action-form li.report-reason[title="sexualizing minors"]::after { content: "Innapropriate Content (Porn, Gore, etc)"; }

.content .thing.comment .entry .report-action-form li:nth-child(5)::after, .content .thing.comment .entry .report-action-form li.report-reason[title="breaking reddit"]::after { content: "Spam"; }

.content .thing.comment .entry .report-action-form li:nth-child(6)::after { content: " please send us a modmail with your concerns"; }

.content #siteTable .thing.stickied { background: rgba(0, 107, 58, 0.08); border: 5px solid rgba(0, 107, 58, 0.2) !important; padding: 0.5em; }

.content #siteTable .thing.stickied .arrow.down, .content #siteTable .thing.stickied .arrow.downmod { display: none; }

.content #siteTable .thing.stickied .thumbnail { display: none; }

.listing-page .content #siteTable .thing.stickied .midcol { background: #CCE1D7; border: 1px solid rgba(255, 255, 255, 0.25); border-radius: 3px; padding: 8px 0; margin-top: 3px; margin-left: 0; margin-right: 11px; top: 0; }

.content #siteTable .thing.stickied a.title, .content #siteTable .thing.stickied a.title:visited, .content #siteTable .thing.stickied a.title.visited { font-weight: bold !important; color: #222; }

.comments-page .commentarea .usertext-edit textarea { background: url(%%NTOC%%) no-repeat; }

.comments-page .commentarea > div.sitetable::before { content: "Remember to keep all comments civil! Abusive comments, such as those containing racism, homophobia, bigotry, or personal attacks, are not permitted. Witch hunting, brigading, and posting personal information are not permitted. Report any abusive or rulebreaking comments using the ''report'' button."; display: block; margin: 5px 8em 10px 10px; background: url(%%snoo%%) no-repeat 0px 0px #f0f7f2; background-position: 5px 50%; padding: 8px; font-size: 12px; font-family: Helvetica,Arial,sans-serif; text-align: justify; line-height: 175%; color: black; border: 1px solid #1f7d39; border-radius: 0px; max-width: 500px; min-height: 60px; padding-left: 72px; padding-right: 13px; }

.footer-parent { background: #242424; color: #6f6f6f; }

.footer-parent .bottommenu { color: #6f6f6f; }

.footer-parent .footer { border: none; font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; }

.footer-parent .footer a { color: #6f6f6f; }

.footer-parent .footer .col { border: none; }

.footer-parent .footer .col .flat-vert.title { font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; font-size: 15px; font-weight: normal; text-transform: uppercase; color: #008D52; }

.debuginfo { background: #242424; color: #6f6f6f; }

.debuginfo::before { content: "Theme by /u/Soul_Shot"; line-height: 14px; float: left; }

.submit-page .content { margin: 0  auto; width: 600px; height: 1500px; }

.submit-page .content .spacer { width: 500px; }

.submit-page .content .submit .info-notice { background-color: rgba(0, 107, 58, 0.14); border: 1px solid #006B3A; }

.submit-page .content .submit .formtabs-content { border-top: none; padding-top: 6px; }

.submit-page .content .submit .formtabs-content::before { content: "Submissions that violate our rules will be removed, and repeat infractions may result in a ban."; margin: 10px 0; font-size: 16px; color: #4b975F; }

.submit-page .content .submit .formtabs-content #url-field button { display: none; }

.submit-page .content .submit .formtabs-content .infobar { display: none !important; }

.submit-page .content .submit .formtabs-content .roundfield#reddit-field { display: none; }

.submit-page .content .submit .formtabs-content div:nth-child(3):hover .roundfield .title::after, .submit-page .content .submit .formtabs-content div:nth-child(2):hover .roundfield .title::after { content: " > Copy and paste directly from the article"; }

.submit-page .content .submit.content .tabmenu { display: none; }

.submit-page .content .submit.content::before { content: "Please review our rules before submitting."; margin: 10px 0; font-size: 16px; font-weight: bold; color: #1f7d38; }

.submit-page .content .submit .submit_text { max-height: 600px; }

.submit-page .content .submit .submit_text h1 { color: #006B3A; }

.submit-page .content .submit .btn { display: none; }

.submit-page .content .submit:target .btn { display: block; }

.submit-page .content .submit:not(:target) .spacer .status::before { content: "You must read the submission guidelines above and indicate that you have read them before you can submit to this subreddit."; }

.submit-page .side { background: none; position: absolute; display: block !important; border-radius: 1px; padding: 0; margin-top: -1px; left: calc(50% - -208px); width: 300px; }

.submit-page .side #search { position: absolute; top: -37px; }

.submit-page .side h3 a[href="/r/NotTheOnion"] { background: url(%%logo%%); position: absolute; top: -115px; left: calc(50% - 499px); width: 272px; height: 31px; z-index: 99; }

.submit-page .side h6:nth-of-type(1) { display: none; }

.submit-page .side .sidecontentbox { display: none; }

.submit-page .side .sidecontentbox .content { width: initial; }

.search-page #search { top: initial; position: initial; }

.search-page .searchpane { background-color: #f2f2f2; border: none; border-top: 5px solid #006B3A; margin: 5px 0; }

.search-page .menuarea { border-bottom: 1px solid #bbb; }

.wiki-page .wiki-page-content { margin-right: initial; }

.wiki-page .wiki-page-content h1 { border-top: 3px solid #006B3A; padding-top: 11px; font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; font-weight: normal !important; color: #222 !important; }

.wiki-page .wiki-page-content h2 { border-top: 1px solid #bbb; padding-top: 13px; font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; font-weight: normal !important; font-size: 21px !important; color: #222 !important; }

.wiki-page .wiki-page-content h3 { font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; font-weight: bold !important; font-size: 15px !important; color: #222 !important; }

.wiki-page .wiki-page-content h4 { font-family: gandhi_serifregular, "Georgia", Times New Roman, serif; font-weight: bold !important; font-size: 14px !important; color: #222 !important; }

.wiki-page .wiki-page-content .wiki > .toc > ul { background: #f2f2f2; border: none; border-top: 3px solid #006B3A; padding: 11px 22px; margin: 22px 10px 12px 22px; float: right; max-width: 300px; list-style: none; }

.wiki-page .pageactions { border: 1px solid #006B3A; }

.wiki-page .pageactions .wiki-action:hover { background-color: rgba(0, 107, 58, 0.08); }

.wiki-page .pageactions .wiki-action-current { background-color: #006B3A; }

.res div.RES-keyNav-activeElement, .res div.commentarea div.RES-keyNav-activeElement.entry div.noncollapsed { background: #FAFAFA !important; padding-left: 10px !important; }

.res .entry { transition: all 0.15s ease; }

.res .RES-keyNav-activeElement { transition: all 0.35s ease; }
