/* FlAIRS */

.tabpane-content {
    border: 1px solid rgba(0,107,58,0.2);
}

.content > .tabmenu li.selected a {
    color: #006B3A !important;
    background: #fff;
    border: 1px solid #CCE1D7;
    border-bottom: 1px solid white;
}

.content > .tabmenu li a {
    background-color: #006B3A;
}

#tab-templates a, #tab-link_templates a, #tab-grant a {
    color: #fff;
}

/* COMMENT PAGE */
/* #authorInfoToolTip {
    border-radius: 0px;
    border: 1px solid #BCD8CA;
}
*/
.RESDialogSmall > h3 {
    padding: 5px;
}

.RESCloseButton {
    top: 2px;
}



/* STYLE FIXES FOR POOR PEOPLE */


@media screen and (max-width:1440px){
     .side h6:nth-of-type(1) {
        top: 103px !important;
        font-size: 10px !important;
    }
    #header-bottom-left {
        font-size: inherit !important;
    }
}
@media screen and (max-width:1280px){
     .side h6:nth-of-type(1) {
        top: 105px !important;
        font-size: 9px !important;
    }
    #header-bottom-left {
        font-size: inherit !important;
    }
}
@media screen and (max-width:1024px) {
    .res #header-bottom-right { top: 29px!important; }
    .side h6:nth-of-type(1) { top: 21px !Important; }
    .submit-link::before { top: -92px; }
}
